<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" type="text/css" href="{{ url_for('static', filename='css/styles.css' , version=1.21)}}">
    <title>Basic Validation</title>
</head>
<body>
    <div id="wrapper">
       <h1>SUCCESS</h1>
        <form action="/back_to_home" method="post">
            <button id="exit" type="submit">EXIT</button>
        </form>
    </div>
</body>
</html>