<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" type="text/css" href="{{ url_for('static', filename='css/styles.css', version=4.3 ) }}">
    <title>Dojo Survey</title>
</head>
<body>
    <div id="main">
        <form action="/users" method="POST">
            <label for="name">Your Name:</label>
            <input name="name" type="text" placeholder="Enter your name"></br>
            <label for="location">Dojo Location:</label>
            <select name="location">
                <option value="Seattle">Seattle</option>
                <option value="San Jose">San Jose</option>
                <option value="New York">New York City</option>
                <option value="Austin">Austin</option>
            </select></br>
            <label for="language">Favorite Language:</label>
            <select name="language">
                <option value="Python">Python</option>f
                <option value="JavaScript">JavaScript</option>
                <option value="React">React</option>
            </select></br>
            <label for="comment">Comment:</label></br>
            <textarea rows=6 cols=50></textarea>
            <input type="submit" value="Click to submit">
        </form>
    </div>
</body>
</html>